@import "media";
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

* {
  margin: 0;
  padding: 0;
  border: none;
}
body{
  background: #0B0B22;
  backdrop-filter: blur(87.5px);
}
a{
  text-decoration: none;
  color: wheat;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#header{
  padding: 30px 0;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--logo{
      display: flex;
      align-items: center;
      justify-content: space-between;

      p{
        margin-left: 10px;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        color: #FFFFFF;

      }
    }

    nav{
      display: flex;
      justify-content: space-between;
      max-width: 500px;
      a{
        margin: 0 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    &--btn{
      button{

        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        transition: all 0.3s ease;
        position: relative;
        box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
        7px 7px 20px 0 rgba(0,0,0,.1),
        4px 4px 5px 0 rgba(0,0,0,.1);

       &:hover{
         color: #ffffff;
         border: none;
         background: rgba(255, 255, 255, 0.3);
         transform: scale(1.1);

       }

      }
    }

  }
}

#hero{
  padding-bottom: 100px;
  .hero{
    max-width: 557px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    h3{
      padding-bottom: 13px;
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #16FCD2;

    }
    &--middle{
      padding-bottom: 17px;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      color: #FFFFFF;

    }

    &--end{
      margin-bottom: 40px;
      padding: 0 45px;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      max-height: 100px;
      color: rgba(255, 255, 255, 0.6);

    }

    &--buttons{
      &__left{
        padding: 13px 50px;
        background: #6016FC;
        border-radius: 3px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        transition: .4s;

        &:hover{
          color: #fff;
          border: 1px solid wheat;
          background: transparent;

        }
      }
      &__raght{
        padding: 13px 50px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        transition: .4s;
        &:hover{
          color: #fff;
          border: 1px solid wheat;
          background: #6016FC;

        }
      }
    }

  }
}

#information{
  .information{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &--block{
      padding: 10px 40px;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 5px;
      margin-bottom: 20px;
    }

    &--block__box{
      img{
        padding: 32px 10px;
      }
    }

    h4{
      padding-bottom: 15px;
      padding-left: 10px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
    }

    p{
      padding-left: 10px;
      max-width: 204px;
      font-weight:204;
      font-size: 16px;
      line-height: 32px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

#git{
  padding: 50px 0;
  .git{
border-top:2px solid white;
    border-bottom: 2px solid white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;



    &--image{
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex-wrap: wrap;
      img{
        margin-bottom: 20px;
        padding: 0 20px;
      }
    }
  }
}

#work{
  .work{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;

    &--general{
      display: flex;
      align-items: center;
      justify-content: space-between;

      img{
      }

    }

    &--end{
      span{
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.1em;
        color: #16FCD2;


      }
      h1{
        max-width: 420px;
        font-weight: 700;
        font-size: 30px;
        line-height: 48px;
        color: #FFFFFF;
      }
      p{
        max-width: 407px;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.6);
      }

      }
    }
  }

#team{
  .team{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &--text{
      span{
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.1em;
        color: #16FCD2;
      }
      h1{
        padding: 30px 0;
        max-width: 444px;
        font-weight: 700;
        font-size: 30px;
        line-height: 48px;
        color: #FFFFFF;
      }


      p{
        padding-bottom: 40px;
        max-width: 359px;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.6);

      }
      button{
        padding: 10px 40px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
        transition: .4s;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    &--raght{
      width: 50%;
      img {
        width: 100%;
      }
    }
    }
  }

#many{
  padding: 300px 0;

  .many {
    &--title {
      max-width: 541px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #16FCD2;
      }

      h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
      }
    }

    &--blocks{
      display: flex;
      justify-content: space-evenly;
      //flex-wrap: wrap;

      &__block{
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 433px;
        height: 400px;
        background: #161629;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 30px 60px rgba(96, 22, 252, 0.03);
        border-radius: 3px;
        &--one{
          margin-top: 50px;
          width: 160px;
          padding: 17px ;
          background: #212136;
          border-radius: 10px;
        }
        &--two{
          margin-top: 20px;
          width: 100px;
          padding: 17px ;
          background: #212136;
          border-radius: 100px;
        }
        &--end{
          margin-top: 50px;
          width: 10px;
          padding: 107px;
          background: rgba(44, 44, 70, 0.5);
          border-radius: 20px 20px 0 0;

        }
        h1{
          padding-top: 20px;
          font-weight: 700;
          font-size: 20px;
          line-height: 34px;
          color: #FFFFFF;
        }
        p{
          font-weight: 400;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.6);
          padding: 10px 0;

        }
        button{
          padding: 15px 40px;
          background: rgba(11, 11, 34, 0.9);
          backdrop-filter: blur(87.5px);
          border-radius: 30px;
          border: 2px solid white;
          font-weight: 500;
          font-size: 14px;
          color: #FFFFFF;
          transition: .4s;
          margin-bottom: 500px;
          &:hover{
            background: white;
            color: black;
            border: 1px solid black;

          }
        }
      }


    }

}

}

#need{
  .need{
    &--block{
        max-width: 1308px;
        height: auto;
      background: #221048;
      border-radius: 30px;
      &__text{
        padding:90px 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        p{
          font-weight: 600;
          font-size: 16px;
          line-height: 32px;
          text-align: center;
          letter-spacing: 0.1em;
          color: #16FCD2;
        }
        h1{
          max-width: 379px;
          font-weight: 700;
          font-size: 30px;
          line-height: 48px;
          text-align: center;
          color: #FFFFFF;
          //padding-bottom: 20px;
        }
      }



    }

    &--blocks{
      max-width: 1029px;
      display: flex;
      margin: 0 auto;
      align-items: start;
      justify-content: space-evenly;
      flex-wrap: wrap;
      &__one{
        text-align: center;
        margin-bottom: 20px;
        width: 300px;
        height: 450px;
        background: #3F2379;
        border-radius: 10px;
        &--text{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 40px 0;
          span{
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
          }
          &__raght{
            p{
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              color: rgba(255, 255, 255, 0.6);

            }
            h2{
              font-weight: 700;
              font-size: 36px;
              line-height: 49px;
              color: #FFFFFF;
            }
          }
        }
        h5{
          margin: 0 auto;
          text-align: center;
          max-width: 140px  ;
          font-weight: 500;
          font-size: 16px;
          line-height: 36px;
          color: #FFFFFF;
          padding-bottom: 50px;
        }
        button{

          margin: 0 auto;
          padding: 15px 90px;
          background: #FFFFFF;
          border-radius: 3px;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #3F2379;
          transition: .3s;
          &:hover{
            background: transparent;
            border: 1px solid white;
            color: #16FCD2;

          }
        }
      }


      &__three{
        text-align: center;
        margin-bottom: 20px;
        width: 300px;
        height: 450px;
        background: #792366;
        border-radius: 10px;
        &--text{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 40px 0;
          span{
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
          }
          &__raght{
            p{
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              color: rgba(255, 255, 255, 0.6);

            }
            h2{
              font-weight: 700;
              font-size: 36px;
              line-height: 49px;
              color: #FFFFFF;
            }
          }
        }
        h5{
          margin: 0 auto;
          text-align: center;
          max-width: 140px  ;
          font-weight: 500;
          font-size: 16px;
          line-height: 36px;
          color: #FFFFFF;
          padding-bottom: 50px;
        }
        button{

          margin: 0 auto;
          padding: 15px 90px;
          background: #FFFFFF;
          border-radius: 3px;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #3F2379;
          transition: .3s;
          &:hover{
            background: transparent;
            border: 1px solid white;
            color: #16FCD2;

          }
        }
      }
    }
  }
}

#slaider{
  padding: 200px 0;
}

.swiper-block{
  width: 400px;
  height: 350px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  img{
    margin-top: 25px;
  }
  h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
  }
  span{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
  p{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#time{
  .time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &--title{
      h1{
        max-width: 490px;
        font-weight: 700;
        font-size: 30px;
        line-height: 48px;
        color: #FFFFFF;
      }

    }
    &--btn{
      button{
        padding: 15px 55px;
        background: #6016FC;
        border-radius: 3px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        &:hover{
          background: transparent;
          border: 1px solid white;

        }
      }

    }
  }
}

#footer{
  padding: 100px 0;
  .footer{
    display: flex;
    align-items: start;
    justify-content: space-between;
    &--title{

      span{
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
      }
      p{
        max-width: 163px;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.6);
      }


    }
    &--one{
      span{
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-bottom: 19px;
      }
      p{
        padding-top: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.6);
      }
    }


  }
}


